<div class="panel panel-default">
  <div>
    <div class="border margin">
      <p class="h3 p-3">{{ bookDetail.name }}</p>
      <div class="row">
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="thumb">
                <img
                  width="201"
                  class="img-fluid"
                  src="{{ bookDetail.image }}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <dl>
            <hr />
            <dt>Authors</dt>
            <div *ngFor="let author of bookDetail.authors">
              <dd class="caption" routerLink="/author/{{ author.id }}">
                {{ author.name }}
              </dd>
            </div>
            <hr />
            <dt>ISBN</dt>
            <dd>{{ bookDetail.isbn }}</dd>
            <hr />
            <dt>Publishing Date</dt>
            <dd>{{ getFechaCorta() }} {{ bookDetail.publishingdate }}</dd>
            <hr />
            <dt class="bold">Editorial</dt>
            <dd
              class="caption"
              routerLink="/editorials/{{
                bookDetail.editorial && bookDetail.editorial.id
              }}"
              [queryParams]="{ allBooks: 'false' }"
            >
              {{ bookDetail.editorial && bookDetail.editorial.name }}
            </dd>
            <hr />
            <dt class="bold">Description</dt>
            <dd>{{ bookDetail.description }}</dd>
          </dl>
          <br />
        </div>
      </div>

      <div class="px-5 py-2" *ngIf="bookDetail.reviews.length > 0">
        <app-book-reviews [bookReviews]="bookDetail.reviews"></app-book-reviews>
        <app-book-add-review
          [book]="bookDetail"
          (updateReviews)="updateReviews()"
        ></app-book-add-review>
      </div>
    </div>
  </div>
</div>
